<head>
	<title>Welcome Admin!</title>
</head>
  <meta charset = "utf-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
			
			//unpaid bills, common proc, get animals with most appt, get owners with multiple animals
	  var uB = $.ajax({
		   type: 'GET',
		   url: "/request/getUnpaidBills",
		   data: {},
		   async: false}
		);
	  var cP = $.ajax({
		   type: 'GET',
		   url: "/request/getCommonProcedures",
		   data: {},
		   async: false}
		);		
		
	  var mostA = $.ajax({
		   type: 'GET',
		   url: "/request/getAnimalsWithMostAppointments",
		   data: {},
		   async: false}
		);	
	  var multA = $.ajax({
		   type: 'GET',
		   url: "/request/getOwnersWithMultAnimals",
		   data: {},
		   async: false}
		);
			
	  var parsedUB = JSON.parse(uB.responseText);		
	  var parsedCP = JSON.parse(cP.responseText);
	  var parsedMostA = JSON.parse(mostA.responseText);
	  var parsedMultA = JSON.parse(multA.responseText);
       
	   //unpaid bills amount date method o_id, r_id
	   for( var i=0; i<parsedUB.length; i++){
		  var object = parsedUB[i];
		  var r_id = object['r_id'];
		  var o_id = object['o_id'];
		  var amount = object['amount'];
		  var date = object['date'];
		  var method = object['method'];
		  $("<h4> Record number: " + r_id + "</h4>").appendTo("#uB");
		  $("<p> Customer Number: " + o_id + "</p>").appendTo("#uB");
		  $("<p> Amount: " + amount + "</p>").appendTo("#uB");
		  $("<p> Method: " + method + "</p>").appendTo("#uB");
		  
	    }
       
	   //common procedures
	   for( var i=0; i<parsedCP.length; i++){
		  var object = parsedCP[i];
		  var p_name = object['p_name'];
		  
		  
		  $("<p>" + p_name + "</p>").appendTo("#cP");
	    }
		
       //a_id, a_name, breed, type, o_id
	   for( var i=0; i<parsedMostA.length; i++){
		  var object = parsedMostA[i];
		  
		  var a_id = object['a_id'];
		  var a_name = object['a_name'];
		  var breed = object['breed'];
		  var type = object['type'];
		  var o_id = object['o_id'];
		  $("<h4> Animal ID: " + a_id + "</h4>").appendTo("#mostA");
		  $("<p> Name: " + a_name + "</p>").appendTo("#mostA");
		  $("<p> Breed: " + breed + "</p>").appendTo("#mostA");
		  $("<p> Type: " + type + "</p>").appendTo("#mostA");
		  $("</p> Owner: " + o_id + "</p><br>").appendTo("#mostA");
	    }
		//
		for( var i=0; i<parsedMultA.length; i++){
		  var object = parsedMultA[i];
		  console.log(object);
		  var o_id = object['o_id'];
		  var o_name = object['o_name'];
		  var o_address = object['o_address'];
		  var phone_number = object['phone_number'];
		  
		  $("<h4> Owner ID: " + o_id + "</h4>").appendTo("#multA");
		  $("<h4> Name: " + o_name + "</h4>").appendTo("#multA");
		  $("<p> Address: " + o_address + "</p>").appendTo("#multA");
		  $("<p> Phone Number: " + phone_number + "</p><br>").appendTo("#multA");
		  
	    }
		
    
    });
  
  </script>
<body>
	<h1>Welcome Admin!</h1>
	<a href='/logout'>Logout</a>
	
	<div id = "uB", align = "center">
	    <h2>Unpaid Bills</h2>
	</div>
	
	<br>
	<br>
	
	<div id = "cP", align = "center">
	    <h2>Common Procedures</h2>
	</div>
	
    <br>
	<br>
	
	<div id = "mostA", align = "center">
	    <h2>Animals with the most appointments</h2>
	</div>
	
	<div id = "multA", align = "center">
	    <h2>Pet Owners with Multiple Pets</h2>
	</div>
</body>