<head>
	<title>Welcome Vet!</title>
</head>
  <meta charset = "utf-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>

    $(document).ready(function() {
			
	  //daily appts
	  var dA = $.ajax({
		   type: 'GET',
		   url: "/request/getDailyAppointments",
		   data: {},
		   async: false}
		);
		//performed proc
	  var pP = $.ajax({
		   type: 'GET',
		   url: "/request/getPerformedProcedures",
		   data: {},
		   async: false}
		);		
		//previously treated animals
	  var pT = $.ajax({
		   type: 'GET',
		   url: "/request/getPreviouslyTreatedAnimals",
		   data: {},
		   async: false}
		);	

			
	  var parsedDA = JSON.parse(dA.responseText);		
	  var parsedPP = JSON.parse(pP.responseText);
	  var parsedPT = JSON.parse(pT.responseText);
       
	   //unpaid bills amount date method o_id, r_id
	   for( var i=0; i<parsedDA.length; i++){
		  var object = parsedDA[i];
		  console.log(object);
		  var a_id = object['a_id'];

		  $("<h4> Animal ID: " + a_id + "</h4>").appendTo("#dA");
		  
	    }
       
	   //performed procedures
	   for( var i=0; i<parsedPP.length; i++){
		  var object = parsedPP[i];
		  var e_id = object['e_id'];
		  var p_name = object['p_name'];
		  
		  $("<p> Employee ID: " + e_id + "</p>").appendTo("#pP");
		  $("<p>" + p_name + "</p>").appendTo("#pP");
	    }
		
       //prev treated animals
	   for( var i=0; i<parsedPT.length; i++){
		  var object = parsedPT[i];
		  
		  var a_id = object['a_id'];
		  $("<h4> Animal ID: " + a_id + "</h4>").appendTo("#pT");
		 
	    }
    });

  </script>
<body>
	<h1>Welcome Vet!</h1>
	<a href='/logout'>Logout</a>

	<div id = "dA", align = "center">
	    <h2>Daily Appointments</h2>
	</div>

	<br>
	<div id = "pP", align = "center">
	    <h2>Performed Procedures</h2>
	</div>
	<br>

	<div id = "pT", align = "center">
	    <h2>Previously Treated Animals</h2>
	</div>
	<br>

</body>
