<!DOCTYPE html>
<html>
{% if session['logged_in'] %}
	{% if session['admin'] %}
		{% include 'admin/index.html' %}
	{% else %}
		{% include 'user/index.html' %}
	{% endif %}
{% else %}
	<head>
		<title>Welcome Guest!</title>
	</head>
	<body>
	    <h1>Welcome to Kevin's Specialty Care! Login to see your information.</h1>

		<form action="/login" method="POST">
			<input type="username" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Log in">
		</form>

	</body>
{% endif %}
</html>