<!DOCTYPE HTML>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
	<script>
		$(document).ready(function() {
			var o_id = {{ session['o_id'] }}
			console.log(o_id)
			var dA = $.get("/request/getDailyAppointments", {"e_id": 1});
			console.log(dA)
			var pR = $.get("/request/getPaymentRecords", {o_id: 1});
			console.log(pR)
			var aV = $.get("/request/getAvailableVets");
			console.log(aV)
			var oP = $.get("/request/getOwnersPets", {o_id: 1});
			console.log(oP)
		});
	</script>

</head>

<body>




</body>
</html>