<!DOCTYPE html>

<html>

<head>
	
	<title>
		Welcome User!
	</title>

  <meta charset = "utf-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(function() {
      $.getJSON('/request/getUserInfo', function(data) {
        var items = [];
		var name = data["o_name"];

		console.log(name);
        $.each(data, function(key, val){
          items.push("<li id='" + key + "'>" + val + "</li>" );
		  
        });
        $("<ul/>", {"class": "my-new-list", html: items.join("")}).appendTo("#div1");
        console.log(data);
      });
    });
  
  </script>
  <style type = "text/css">

    body{
      background: white;
      color: black;
    }
    h1{
      color: blue;
    }
    h2{
      color: blue;
    }
  </style>
</head>

<body>
	
  <h1>Welcome User!</h1>

  <br>
  <br>
  <div id="div1">
  <h2>Pet Information</h2>
  </div>
  <h2>Payment Information</h2>
  <a href='logout.html'>Logout</a>

  <!-- KIAN'S GET AND POST REQUEST STUFF FOR FRONT END. USE THIS AS EXAMPLE -->
  <!-- GET REQUEST EXAMPLE. THIS DATA IS WHAT YOU NEED TO PARSE USING JAVASCRIPT AND DISPLAY IT IN HTML -->
  <a href='/request/getUserInfo'>Get User Info</a>

  <!-- POST REQUEST EXAMPLE. NOTE IN CONSOLE LOG "POSTED SUCCESSFULLY! APPEARS AFTER SUBMIT IS CLICKED" -->
  <form action="/request/testLogin" method="POST">
    <input type="submit" value="Submit">
  </form>

</body>

</html>