<!DOCTYPE html>

<html>

<head>
	
  <title>
    Sign in
  </title>

<meta charset = "utf-8"/>
<style type = "text/css">
  body{
    background: white;
      color: black;
  }
  h1{
    color: blue;
  }
  h2{
    color: blue;
  }
</style>
</head>

<body>
	
  <form action = "index.html">
    Userid: <br>
    <input type = "text">
    <input type = "submit" value = "Submit">
  </form>
  <form action = "create_account.html">
    <input type = "submit" value = "Create Account">
  </form>
</body>

</html>